body{
    font-family:  "Roboto", Helvetica, Arial, sans-serif;;
}

.navbar{
    height: 100px;
    width: 100%;
    background-color: #CCCDCD;
    transition: all 0.5s ease-in-out;
}

.sticky{
    position: sticky;
    overflow: hidden;
    width: 100%;
    top: 0;

    z-index: 1000;
}

.menu{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-ul{
    list-style-type: none;
}

.menu-ul > li{
    display: inline-block;
}

.menu-link{
    text-decoration: none;
    color: #6D6E71;
    /* color: #FEFFFE; */
    margin: 0 16px;
    transition: 0.2s ease-in-out color;
    font-weight: bold;
}

.menu-link:hover{
    position: relative;
    color: #FEFFFE;
}

.menu-link:hover::after{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    border-bottom: 3px solid #FCD844;
    transition: ease-in-out 0.5s all;
}

.title{
    font-weight: bold;
}

.cover{
    aspect-ratio: 4/3;
    object-fit: cover;
}

.footer{
    background-color: #EFEFEF;
}

@media (max-width: 765px){
    .footer{
        padding: 30px 0;
    }
}
