body{
    font-family:  "Roboto", Helvetica, Arial, sans-serif;
    position: relative;
}

@keyframes rotate {
    0%{
    transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.spinner{
    position: sticky;

    overflow: hidden;

    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;

    z-index: 10000;

    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner::after{
    content: ' ';

    width: 5vw;
    height: 5vw;

    border-style: solid;
    border-color: #6D6E71;
    border-width: 0.8vw;

    border-top-color: #FCD844;

    border-radius: 50%;

    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite ;

}

.navbar{
    background-color: #CCCDCD;
    transition: all 0.5s ease-in-out;
}

.sticky{
    position: sticky;
    overflow: hidden;
    width: 100%;
    top: 0;

    z-index: 1000;
}

.menu{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-ul{
    list-style-type: none;
}

.menu-ul > li{
    display: inline-block;
}

.menu-link{
    text-decoration: none;
    color: #6D6E71;
    /* color: #FEFFFE; */
    margin: 0 16px;
    transition: 0.2s ease-in-out color;
    font-weight: bold;
}

.menu-link:hover{
    position: relative;
    color: #FEFFFE;
}

.menu-link:hover::after{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    border-bottom: 3px solid #FCD844;
    transition: ease-in-out 0.5s all;
}

.title{
    font-weight: bold;
}

.cover{
    aspect-ratio: 4/3;
    object-fit: cover;
}

.footer{
    background-color: #EFEFEF;
}

@media (max-width: 765px){
    .footer{
        padding: 30px 0;
    }
}

.stop-scrolling {
    height: 100vw;
    overflow: hidden;
}

@keyframes skeleton {
    from{
        background-color: #FFFFFF;
    }
    to{
        background-color: #CCCDCD;
    }
}

.image-container::after{
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* display: none; */
    z-index: 100;

    animation-name: skeleton;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;

}

