#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #cccccc;
}
#menu-0 .mbr-navbar__section {
  background: #cccccc;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header3-f H3 {
  font-size: 30px;
  text-align: center;
}
#features1-16 .mbr-section__col .mbr-header__text P {
  text-align: center;
}
#features1-16 P {
  font-size: 14px;
}
#features1-25 P {
  font-size: 14px;
}
#msg-box4-y .mbr-header__text {
  color: #ffffff;
}
#msg-box4-y .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-y .mbr-article {
  color: #ffffff;
}
#msg-box4-y .btn {
  font-size: 16px;
}
#contacts1-12 P {
  text-align: left;
}
#contacts1-12 B {
  text-align: left;
}
#menu-9 .mbr-brand__name {
  font-size: 16px;
}
#menu-9.mbr-navbar--stuck .mbr-navbar__section {
  background: #cccccc;
}
#menu-9 .mbr-navbar__section {
  background: #cccccc;
}
#menu-9 .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-13 P {
  text-align: left;
}
#contacts1-13 B {
  text-align: left;
}
#menu-10 .mbr-brand__name {
  font-size: 16px;
}
#menu-10.mbr-navbar--stuck .mbr-navbar__section {
  background: #cccccc;
}
#menu-10 .mbr-navbar__section {
  background: #cccccc;
}
#menu-10 .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-13 P {
  text-align: left;
}
#contacts1-13 B {
  text-align: left;
}
#menu-17 .mbr-brand__name {
  font-size: 16px;
}
#menu-17.mbr-navbar--stuck .mbr-navbar__section {
  background: #cccccc;
}
#menu-17 .mbr-navbar__section {
  background: #cccccc;
}
#menu-17 .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-20 P {
  text-align: left;
}
#contacts1-20 B {
  text-align: left;
}
#menu-21 .mbr-brand__name {
  font-size: 16px;
}
#menu-21.mbr-navbar--stuck .mbr-navbar__section {
  background: #cccccc;
}
#menu-21 .mbr-navbar__section {
  background: #cccccc;
}
#menu-21 .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-24 P {
  text-align: left;
}
#contacts1-24 B {
  text-align: left;
}
#menu-26 .mbr-brand__name {
  font-size: 16px;
}
#menu-26.mbr-navbar--stuck .mbr-navbar__section {
  background: #cccccc;
}
#menu-26 .mbr-navbar__section {
  background: #cccccc;
}
#menu-26 .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-29 P {
  text-align: left;
}
#contacts1-29 B {
  text-align: left;
}
#menu-30 .mbr-brand__name {
  font-size: 16px;
}
#menu-30.mbr-navbar--stuck .mbr-navbar__section {
  background: #cccccc;
}
#menu-30 .mbr-navbar__section {
  background: #cccccc;
}
#menu-30 .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-33 P {
  text-align: left;
}
#contacts1-33 B {
  text-align: left;
}
#menu-34 .mbr-brand__name {
  font-size: 16px;
}
#menu-34.mbr-navbar--stuck .mbr-navbar__section {
  background: #cccccc;
}
#menu-34 .mbr-navbar__section {
  background: #cccccc;
}
#menu-34 .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-37 P {
  text-align: left;
}
#contacts1-37 B {
  text-align: left;
}
#menu-38 .mbr-brand__name {
  font-size: 16px;
}
#menu-38.mbr-navbar--stuck .mbr-navbar__section {
  background: #cccccc;
}
#menu-38 .mbr-navbar__section {
  background: #cccccc;
}
#menu-38 .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-41 P {
  text-align: left;
}
#contacts1-41 B {
  text-align: left;
}
#menu-40 .mbr-brand__name {
  font-size: 16px;
}
#menu-40.mbr-navbar--stuck .mbr-navbar__section {
  background: #cccccc;
}
#menu-40 .mbr-navbar__section {
  background: #cccccc;
}
#menu-40 .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-42 P {
  text-align: left;
}
#contacts1-42 B {
  text-align: left;
}
#header3-50 H3 {
  text-align: center;
  color: #e25041;
}
#header3-50 P {
  text-align: center;
}
#menu-44 .mbr-brand__name {
  font-size: 16px;
}
#menu-44.mbr-navbar--stuck .mbr-navbar__section {
  background: #cccccc;
}
#menu-44 .mbr-navbar__section {
  background: #cccccc;
}
#menu-44 .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-47 P {
  text-align: left;
}
#contacts1-47 B {
  text-align: left;
}
#menu-51 .mbr-brand__name {
  font-size: 16px;
}
#menu-51.mbr-navbar--stuck .mbr-navbar__section {
  background: #cccccc;
}
#menu-51 .mbr-navbar__section {
  background: #cccccc;
}
#menu-51 .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-54 P {
  text-align: left;
}
#contacts1-54 B {
  text-align: left;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #cccccc;
}
#menu-0 .mbr-navbar__section {
  background: #cccccc;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-0 P {
  text-align: left;
}
#contacts1-0 B {
  text-align: left;
}
#menu-3 .mbr-brand__name {
  font-size: 16px;
}
#menu-3.mbr-navbar--stuck .mbr-navbar__section {
  background: #cccccc;
}
#menu-3 .mbr-navbar__section {
  background: #cccccc;
}
#menu-3 .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-5 P {
  text-align: left;
}
#contacts1-5 B {
  text-align: left;
}
#menu-8 .mbr-brand__name {
  font-size: 16px;
}
#menu-8.mbr-navbar--stuck .mbr-navbar__section {
  background: #cccccc;
}
#menu-8 .mbr-navbar__section {
  background: #cccccc;
}
#menu-8 .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-a P {
  text-align: left;
}
#contacts1-a B {
  text-align: left;
}
#header3-16 H3 {
  text-align: center;
}
#header3-16 P {
  text-align: center;
}
#msg-box3-o .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-o .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-k .mbr-brand__name {
  font-size: 16px;
}
#menu-k.mbr-navbar--stuck .mbr-navbar__section {
  background: #cccccc;
}
#menu-k .mbr-navbar__section {
  background: #cccccc;
}
#menu-k .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-m P {
  text-align: left;
}
#contacts1-m B {
  text-align: left;
}
#header3-p H3 {
  text-align: center;
}
#header3-p P {
  text-align: center;
}
#msg-box3-r .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-r .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-t .mbr-brand__name {
  font-size: 16px;
}
#menu-t.mbr-navbar--stuck .mbr-navbar__section {
  background: #cccccc;
}
#menu-t .mbr-navbar__section {
  background: #cccccc;
}
#menu-t .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-v P {
  text-align: left;
}
#contacts1-v B {
  text-align: left;
}
#header3-z H3 {
  text-align: center;
}
#header3-z P {
  text-align: center;
}
#menu-12 .mbr-brand__name {
  font-size: 16px;
}
#menu-12.mbr-navbar--stuck .mbr-navbar__section {
  background: #cccccc;
}
#menu-12 .mbr-navbar__section {
  background: #cccccc;
}
#menu-12 .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-14 P {
  text-align: left;
}
#contacts1-14 B {
  text-align: left;
}
#menu-18 .mbr-brand__name {
  font-size: 16px;
}
#menu-18.mbr-navbar--stuck .mbr-navbar__section {
  background: #cccccc;
}
#menu-18 .mbr-navbar__section {
  background: #cccccc;
}
#menu-18 .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-1a P {
  text-align: left;
}
#contacts1-1a B {
  text-align: left;
}
#menu-1f .mbr-brand__name {
  font-size: 16px;
}
#menu-1f.mbr-navbar--stuck .mbr-navbar__section {
  background: #cccccc;
}
#menu-1f .mbr-navbar__section {
  background: #cccccc;
}
#menu-1f .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-1h P {
  text-align: left;
}
#contacts1-1h B {
  text-align: left;
}
#menu-1k .mbr-brand__name {
  font-size: 16px;
}
#menu-1k.mbr-navbar--stuck .mbr-navbar__section {
  background: #cccccc;
}
#menu-1k .mbr-navbar__section {
  background: #cccccc;
}
#menu-1k .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-1n P {
  text-align: left;
}
#contacts1-1n B {
  text-align: left;
}
#menu-1o .mbr-brand__name {
  font-size: 16px;
}
#menu-1o.mbr-navbar--stuck .mbr-navbar__section {
  background: #cccccc;
}
#menu-1o .mbr-navbar__section {
  background: #cccccc;
}
#menu-1o .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-1r P {
  text-align: left;
}
#contacts1-1r B {
  text-align: left;
}
#menu-1u .mbr-brand__name {
  font-size: 16px;
}
#menu-1u.mbr-navbar--stuck .mbr-navbar__section {
  background: #cccccc;
}
#menu-1u .mbr-navbar__section {
  background: #cccccc;
}
#menu-1u .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-1x P {
  text-align: left;
}
#contacts1-1x B {
  text-align: left;
}
